{% extends 'base.html.twig' %}
{% block title %}Hello Acceuil!{% endblock %}

{% block body %}  

    <p>{{ app.user.userIdentifier }}</p>
    <a href="{{ path('app_member_add') }}">ajoute Contenu</a>
{% endblock %}