{% extends 'base.html.twig' %}
{% block title %}Hello Acceuil!{% endblock %}

{% block body %}  

    <p>{{ app.user.userIdentifier }}</p>
    <a href="{{ path('app_member_add') }}">ajoute Contenu</a>
    <a href="{{ path('app_member_friends') }}">Liste Friends</a>
    <a href="{{ path('app_member_contenus') }}">Liste Contenus</a>
    
{% endblock %}