{# search.html.twig #}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form.name) }}
    {{ form_end(form) }}
    {% if search is not empty %}
        <ul>
            {% for user in search %}
                <li>{{ user.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <button id="inviteButton">Invite</button>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#inviteButton").click(function () {
            var id = <?php echo $app.user.id; ?>; // Replace with the actual way you get the user ID in your template

            // AJAX request
            $.ajax({
                type: "POST",
                url: "/member/home/search/invite" + id, // Replace with the actual route
                success: function (data) {
                    // Handle the response, for example, update the UI
                    if (data.success) {
                        alert("Invitation successful");
                    } else {
                        alert("Invitation failed");
                    }
                },
                error: function () {
                    alert("Error occurred during the AJAX request");
                }
            });
        });
    });
</script>
{% endblock %}
